<% content_for :title, "Leaderboard" %>
<div>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Name</th>
	      <th>College</th>
	      <th>Level</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @accounts.each_with_index do |account, index| %>
	    	<% if account.level > max_level %>
	    		<tr class="success">
	    	<% else %>
	    		<tr>
	    	<% end %>
	    		<th scope="row"><%= index+1 %></th>
	    		<td><%= account.name %></td>
	    		<% byebug %>
	    		<td><%= account.college %></td>
	    		<td><%= account.level - 1  %></td>
	    	</tr>	
		<% end %>    	
	  </tbody>
	</table>
</div>