<% content_for :title, "The world can wait!" %>
<div class="row">
	<div class="panel panel-success">
	  <div class="panel-body">
	    Math-O-Mania - The contest begins shortly!
	  </div>
	  <div class="panel-footer">
	  	The contest is not started yet! <br>
	  	For more information check our <a href="https://www.facebook.com/trigger.mit/">facebook - trigger</a> page. <br>
	  	or our website <a href="http://www.trigger.act.mitindia.edu">Trigger' 16</a>.
	  </div>
	</div>
</div>
