<div class="form-group row">
	<%= locals[:obj].label locals[:label], class: 'col-sm-2 form-control-label' %>
	<div class="col-sm-10">
		<%= locals[:obj].text_field locals[:label], class: 'form-control', placeholder: "#{locals[:label]}" %>
	</div>
</div>